.nav-border-gradient {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image: linear-gradient(45deg, rgb(238 203 0), rgb(255 252 249)) 1;
    box-shadow: 1px 3px 5px #b5b5b5;
}